
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Custodia | Animal Tracking and Monitoring</title>
<script type="text/javascript">
    window.bubble_session_uid = '1761104203618x772901168362477600';
</script>
<script type="text/javascript">
    window.headers_source_maps = [["plugin_main_headers_1497473108162x748255442121523200",215,216],["plugin_main_headers_1513673902412x622117897080930300",217,239],["plugin_page_headers_AAa",240,242]]
</script>
<script type="text/javascript">
function make_proxy(target, name) {
  return new Proxy(target, {
    get: function(target, prop) {
      if (prop in target) {
        return target[prop];
      }
      throw new Error('The variable ' + name + ' is not fully initialized yet');
    }
  });
}
window.appquery = make_proxy({
  app_version: function() { return "live"; },
  last_change: function() { return "33286034026";},
}, 'appquery');
window.Lib = new Proxy(function() {}, {
  get: function(target, prop) {
    if (prop === 'is_skeleton') {
      return true;
    }
    throw new Error('The variable ' + Lib + ' is not fully initialized yet');
  },
  apply: function() {
    return make_proxy({
      current_user: function() {
        return make_proxy({ id: "1761104203618x772901168362477600" }, 'Lib().current_user');
      }
    }, 'Lib()');
  }
});
</script>
<script type="text/javascript">
function load_error_function (event) {
  return window.load_error_log.push({ msg: event.message, error_url: event.filename, line: event.lineno, col: event.colno })
}
window.load_error_log = [];
window.addEventListener('error', load_error_function);
window.disableLoadErrorFunction = function () {
  window.removeEventListener('error', load_error_function);
}
</script>
<meta name="referrer" content="origin">
<script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['pre_early_js'] = Date.now();
</script><script type="text/javascript" crossorigin="anonymous" charset="UTF-8" src="/package/early_js/05ae9fe83d6b755291132aab9d325d70918aafd336da1bd91a41a31c8b25734b/early.js"></script><script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['post_early_js'] = Date.now();
</script>
<script type="text/javascript">(function () {
    function onWebFontFinish () {
        window.google_web_fonts_active = true;
if (window.google_web_fonts_active_cb) {
    window.google_web_fonts_active_cb();
}
        (function fontface_loaded_snippet (font) {
  if (window.fontface_loaded == null) {
    window.fontface_loaded = {}
  }
  if (font != null) {
    window.fontface_loaded[font] = true
  } else {
    window.all_fontface_loaded = true
  }
  if (window.fontface_webfonts_loaded_cb) {
    return window.fontface_webfonts_loaded_cb(font)
  }
})()
    }
    const WebFontConfig = {'google': { families: ["Inter:regular","Inter:600","Inter:700"] },
        active: function() {
            onWebFontFinish()
        },
        inactive: function() {
            console.log('Failed to load all the fonts');
            onWebFontFinish()
        },
        fontinactive: function(family_name, fvd) {
            console.log('fontinactive being called for ' + family_name + ', Google says the fonts didnt render');
            onWebFontFinish()
        }
    }
        window.WebFont.load(WebFontConfig);
})();</script>
<script>
(function initialize_data() {
const xhr = new XMLHttpRequest();
xhr.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
        const data = JSON.parse(this.responseText);

        function init_data() {
            data.forEach(function(d) {
                Lib().db_instance().initialize_data(d.id, d.data, d.type, d.version);
            })
        }

        if (window.Lib && window.Lib.is_skeleton == null) {
            init_data();
        } else {
            window.Lib_post_load = init_data;
        }
    }
};
xhr.open("GET", "https://custodia.world/api/1.1/init/data?location=" + encodeURIComponent(window.location.href), true);
xhr.send();
})();
</script>
<script type="text/javascript">window.gm_key = "AIzaSyDzlF1tZwgoPZej6TdsRvQFiFyukT2Ijic";</script>
<script type="text/javascript">window.glrl_key_status = false;</script>
<script type="text/javascript">window.bubble_page_load_id = "1761134599610x1428";</script>
<script type="text/javascript">window.bubble_plp_token = "gMCshL/gxZG+48vDCwa5nQIRuBR/u6jpVRKp4cv2RQg=";</script>
<script type="text/javascript">window.bubble_is_leanjs = false;</script>
<script type="text/javascript">window.bubble_shim_modules = false;</script>
<script type="text/javascript">window.bubble_new_reactivity = false;</script>
<link rel="icon" type="image/webp" href="//5806cce796b57e7cece288e2d2aecff9.cdn.bubble.io/f1754275927533x327667009646843700/logo_white.webp" />
<meta name="fragment" content="!">
<meta name="description" content="Safeguarding wildlife through smart, reliable tracking solutions that empower conservation teams to protect what matters most.">
<meta property="og:title" content="Custodia animal tracking solutions" />
<meta name="twitter:title" content="Custodia animal tracking solutions" />
<meta property="og:site_name" content="Custodia" />
<meta name="twitter:site_name" content="Custodia" />
<meta property="og:description" content="Safeguarding wildlife through smart, reliable tracking solutions that empower conservation teams to protect what matters most." />
<meta name="twitter:description" content="Safeguarding wildlife through smart, reliable tracking solutions that empower conservation teams to protect what matters most." />
<link rel="image_src" href="https://5806cce796b57e7cece288e2d2aecff9.cdn.bubble.io/cdn-cgi/image/w=,h=,f=auto,dpr=1,fit=contain/f1754276178246x319893312386521540/logo_black.webp" />
<meta property="og:image" content="https://5806cce796b57e7cece288e2d2aecff9.cdn.bubble.io/cdn-cgi/image/w=,h=,f=auto,dpr=1,fit=contain/f1754276178246x319893312386521540/logo_black.webp" />
<meta name="twitter:image:src" content="https://5806cce796b57e7cece288e2d2aecff9.cdn.bubble.io/cdn-cgi/image/w=,h=,f=auto,dpr=1,fit=contain/f1754276178246x319893312386521540/logo_black.webp" />
<meta property="og:url" content="https://custodia.world/" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script type="text/javascript">window._p = '{"id":"app_starter_2023","no_branding":true,"import_export_csv":true,"custom_domain":true}';</script>
<script type="text/javascript">window.bubble_page_name = "index";</script>
<script type="text/javascript">window.__bubble_module_mode = false;</script>
<link type="text/css" href="/package/run_css/dc33c333033cb5b0a40bdac01b536a21694c2e6b53999695cb69a16c810fbf30/iuliiasergeeva/live/index/xfalse/xfalse/run.css" rel="stylesheet">
<script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['pre_run_js'] = Date.now();
</script>
<script type="text/javascript" crossorigin="anonymous" charset="UTF-8" src="/package/pre_run_jquery_js/dee903a9e36db713e4c86d0cdd96d921e37be0c1293ed8dee29e2e4d7713b9ff/pre_run_jquery.js"></script>
<script type="text/javascript" crossorigin="anonymous" charset="UTF-8" src="/package/run_js/e83531ce11c0151207a635e8def36a2bc7984579c66e2dbe029e6da60ae57836/xfalse/x30/run.js"></script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['post_run_js'] = Date.now();
</script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['pre_static_js'] = Date.now();
</script><script type="text/javascript" crossorigin="anonymous" charset="UTF-8" src="/package/static_js/856d1b726b5b72d5eb5613a584a3b7c306dcec83970ac72f168f4ccd836399c3/iuliiasergeeva/live/index/xnull/xfalse/xfalse/xfalse/static.js"></script><script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['post_static_js'] = Date.now();
</script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['pre_dynamic_js'] = Date.now();
</script><script type="text/javascript" crossorigin="anonymous" charset="UTF-8" src="/package/dynamic_js/3c6435c4a946bc5c1185d0b28d1baeebeedaf05c33e08137ee10cdae7628d253/iuliiasergeeva/live/index/xnull/xfalse/xfalse/en_us/xfalse/xfalse/dynamic.js"></script><script type="text/javascript">
if (!window._bubble_page_load_data) {
  window._bubble_page_load_data = {}
}
if (!window._bubble_page_load_data.js_execution_timings) {
  window._bubble_page_load_data.js_execution_timings = {}
}
window._bubble_page_load_data.js_execution_timings['post_dynamic_js'] = Date.now();
</script>
<script type="text/javascript">window._bubble_page_load_data.js_execution_timings.plugin_js_start_execution = Date.now();</script>
<!-- 1497473108162x748255442121523200 -->
<script type="text/javascript" src="//5806cce796b57e7cece288e2d2aecff9.cdn.bubble.io/f1618227041113x740068462949819800/clipboard.min.js"></script>
<!-- 1513673902412x622117897080930300 -->
<script src="https://code.highcharts.com/highcharts.js"></script>


<script>
    Highcharts.chart('container', {
        xAxis: {
            categories: ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011']
        },

        series: [{
                data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
            },
            {
                data: [22.9, 22.5, 54, 129.2, 4.0, 44.0, 55, 55.5, 56.4, 33.1, 22, 11.4]
            },
            {
                data: [216.4, 194.1, 95.6, 54.4, 29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5],
                lineWidth: 5
            }]
    });

</script>
<!-- AAa -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.2/build/css/intlTelInput.css"><script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.5.2/build/js/intlTelInputWithUtils.min.js"></script>

<script type="text/javascript">window._bubble_page_load_data.js_execution_timings.plugin_js_end_execution = Date.now();</script>
</head>
<body><script type="text/javascript">
window.addEventListener('DOMContentLoaded', function () {
  if (window.appquery == null) {
    const css = document.createElement('style');
css.type='text/css';
css.appendChild(document.createTextNode(".warning-message-failure {padding: 30px; line-height: 1.5; white-space: pre; z-index: 1000000; position: fixed; width: 100%; height: 100%; background: white;}"));
document.getElementsByTagName("head")[0].appendChild(css);
const newDiv = document.createElement("div");
newDiv.className = "warning-message-failure";
newDiv.innerHTML = "Your browser was unable to load some necessary resources, contact your IT network administrator and ask them to allow access to <br><br>     d3dqmih97rcqmh.cloudfront.net <br>     5806cce796b57e7cece288e2d2aecff9.cdn.bubble.io/ <br>     d1muf25xaso8hp.cloudfront.net";
document.body.appendChild(newDiv);
    httpRequest = new XMLHttpRequest();
httpRequest.open('POST', '/user/m', true);
httpRequest.setRequestHeader('Content-Type', 'application/json');
httpRequest.send(JSON.stringify({measures: {page_load_error: 1, url: document.location.href, errors: window.load_error_log}}));
  };
});
</script><script type="text/javascript">window.addEventListener('DOMContentLoaded', function () {if (window.appquery && window.app == null) {const css = document.createElement('style');
css.type='text/css';
css.appendChild(document.createTextNode(".warning-message-failure {padding: 30px; line-height: 1.5; white-space: pre; z-index: 1000000; position: fixed; width: 100%; height: 100%; background: white;}"));
document.getElementsByTagName("head")[0].appendChild(css);
const newDiv = document.createElement("div");
newDiv.className = "warning-message-failure";
newDiv.innerHTML = "Your browser was unable to load the application data. We've been notified of the issue. Please try again in a few moments and make sure not to use ad-blockers.";
document.body.appendChild(newDiv);}});</script>
<img style="display: none;" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
</body>
</html>